@model CodeChartVm

@section AddtoHead{ 
    <link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet"  type="text/css"/>
}

@section scripts{
    <script src="~/lib/printThis/printThis.js"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        var unsaved = false;

        function unloadPage() {
            if (unsaved) {
                return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
            }
        }

        window.onbeforeunload = unloadPage;
        
        var IcdCodeGrid;
        var CptCodeGrid;
        var idcRenderer;
        var cptRenderer;
        var verbage = 'I attest that I am not changing the material in the medical chart, but updating the codes to accurately represent the procedures, diagnosis, and documentation provided in the medical record.” and clicking accept logs this attestation and who was the logged in user for those changes to the code list.'        
        var visitId = $("#codeVisitId").val();

        $(document).ready(function () {

            $(":input").change(function () { //triggers change in all input fields including text type
                unsaved = true;
                tipnSave();
            });

            IcdCodeGrid = $('#IcdCodeTable').grid({
                primaryKey: 'id',
                params: { visitId: visitId, type: "Icd"},
                inlineEditing: { mode: 'command'},
                dataSource: '/Record/GetHistoryCode',
                columns: [
                    { field: 'codeName', title: 'Code', editor: true },
                    { field: 'description', title: 'Description' },                 
                    //{ width: 56, renderer: idcRenderer },
                    //{ width: 100, tmpl: '<u class="gj-cursor-pointer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></u>', events: { 'click': icdDelete } }
                ],
                pager: { limit: 10, sizes: [2, 5, 10, 20] },
            });

            IcdCodeGrid.on('rowDataChanged', function (e, id, record) {     
                UpdateHistoryCode(record)                          
            });

            IcdCodeGrid.on('rowRemoving', function (e, $row, id, record) {
                if (confirm('Are you sure to delete code ' + record.codeName + '?')) {
                    DeleteHistoryCode(id);
                }
            });

            CptCodeGrid = $('#CPTCodeTable').grid({
                primaryKey: 'id',
                params: { visitId: visitId, type:"CPT"},
                inlineEditing: { mode: 'command' },
                resizableColumns: true,
                dataSource: '/Record/GetHistoryCode',
                columns: [
                    { field: 'quantity', title: 'Quantity', width: 75, minWidth: 75, priority: 1, editor: true },
                    { field: 'codeType', width: 105, minWidth: 105, priority: 2, title: 'CPT Type' },
                    { field: 'codeName', title: 'Code', width: 85, minWidth: 85, priority: 3, editor: true },
                    { field: 'modifierCode', width:100, minWidth: 100, priority:4, title: 'Modifier', priority: 2, type: 'dropdown', editor: { dataSource: '/Record/GetModifiers', valueField: 'id' }, editField: 'modifierCode' },
                    { field: 'shortDescription', minWidth: 100, priority: 5, title: 'Description' },
                    { field: 'description', hidden: true },
                    //{ width: 56, renderer: cptRenderer },
                    //{ width: 100, tmpl: '<u class="gj-cursor-pointer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></u>', events: { 'click': icdDelete } }

                ],
                pager: { limit: 10, sizes: [2, 5, 10, 20] },
            });

            CptCodeGrid.on('rowDataChanged', function (e, id, record) {
                UpdateHistoryCode(record)
            });

            CptCodeGrid.on('rowRemoving', function (e, $row, id, record) {
                if (confirm('Are you sure to delete code ' + record.codeName + '?')) {
                    DeleteHistoryCode(id);
                }
            });


            $(".viewer").zoomer();

            $("#btnPrint").click(function () {
                $("#chartviewer").printThis();
            });

            $("#savePage").click(function () {
                var id = $("#codeVisitId").val();
                var pos = $('#position').val();
                var flag = $('#chkFlag').is(':checked');
                $.ajax(
                    {
                        url: '/Record/SaveChartCode',
                        data: {
                            visitId: id,
                            flaged: flag
                        },
                        method: 'POST'
                    })
                    .done(function () {
                        alert('changes are saved successfully.')
                        unsaved = false;
                        hideSave();
                        window.location.replace('@Url.Action("loadcode","Record")?position=' + pos);
                    })
                    .fail(function () {
                        alert('Failed to save changes.');
                    });
            });

            $('#upload').click(function () {
                $('#fileuploadMsg').empty();
                $('#preview').empty();
                var input = $('#file')[0];
                var files = input.files;
                var formData = new FormData();

                for (var i = 0; i != files.length; i++) {
                    formData.append("files", files[i]);
                }

                formData.append("visitId", visitId);

                // AJAX request
                $.ajax({
                    url: '/Record/UploadChart',
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        if (response != 0) {
                            if (response.error != null) {
                                $('#fileuploadMsg').empty().append("<div class='alert alert-danger' role='alert'>" + response.error + "</div >")
                            }
                            else {
                                // Show image preview
                                $('#fileuploadMsg').empty().append("<div class='alert alert-success' role='alert'>File uploaded successfully see the preview. If it is ok, please close the dialog.</div >")
                                $('#preview').empty().append("<img src='" + response + "' width='100' height='100' style='display: inline-block;'><button type='button' class='btn btn - secondary' data-dismiss='modal'>Close</button>");
                                $('.zoomer-image').attr('src', response);
                            }
                            unsaved = true;
                            tipnSave();
                        }
                        else {
                        alert('file not uploaded');
                        }
                    }
                });
            });

            $('#IcdAddCode').on('click', function () {
                var id = $("#codeVisitId").val();
                var code = $('#icdCodeName').val();
                $.ajax({
                    url: '/Record/AddHistoryCode',
                    type: 'post',
                    data: {
                        visitId: id,
                        code: code,
                        codeType: "IcdCode",
                        action:"Add"
                    },
                    dataType: "json",
                    success: function () {
                        
                        $('#modalIcdCode').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        IcdCodeGrid.reload();
                    },
                    error: function (response) {
                        $('#addIcdMsg').empty().append("<div class='alert alert-danger' role='alert'>" + response.responseText+"</div>");
                    }

                });
            })

            $('#cptAddCode').on('click', function () {
                var id = $("#codeVisitId").val();
                var code = $('#cptCodeName').val();
                var quan = $('#codeQuantity').val();
                var mod = $('#modifierCode').val();
                var type = $('#codeType').val();
                $.ajax({
                    url: '/Record/AddHistoryCode',
                    type: 'post',
                    data: {
                        visitId: id,
                        codeType: type,
                        code: code,
                        quantity: quan,
                        modifier: mod,
                        action: "Add"
                        
                    },
                    dataType: "json",
                    success: function () {
                        $('#modalcptCode').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        CptCodeGrid.reload();
                    },
                    error: function (response) {
                        $('#addcptMsg').empty().append("<div class='alert alert-danger' role='alert'>" + response.responseText + "</div>");
                    }

                });
            })

            $('#modalContactForm').on('shown.bs.modal', function (e) {
                $.ajax({ url: '/Record/GetCodeChange', data: { visitCodeHistoryId: id }, method: 'POST' })
                    .done(function () {
                        
                    })
            });

            $('#send').on('click', function () {
                if (confirm("By pressing send button an email contains changes will be sent to the physican, are you sure to do this?")) {
                    var from = $('#fromemail').val();
                    var to = $('#toemail').val();
                    var subject = $('#subject').val();
                    var message = $('#message').val();
                    $.ajax(
                        {
                            url: '/Record/SendNotification',
                            data:
                            {
                                fromEmail: from,
                                toEmail: to,
                                subject: subject,
                                body: message
                            },
                            method: 'POST'
                        })
                        .done(function () {
                            
                        })
                        .fail(function () {
                            alert('Failed to send.');
                        });
                    
                }
            });

            function DeleteHistoryCode(id) {
                $.ajax({ url: '/Record/DeleteHistoryCode', data: { visitCodeHistoryId: id }, method: 'DELETE' })
                    .done(function () {
                        unsaved = true;
                        tipnSave()
                        IcdCodeGrid.reload();
                    })
                    .fail(function () {
                        alert('Failed to delete.');
                    });
            }

            function UpdateHistoryCode(record) {  
                alert(verbage);
                // Clone the record in new object where you can format the data to format that is supported by the backend.
                var data = $.extend(true, {}, record);

                // Post the data to the server
                $.ajax({
                    url: '/Record/UpdateHistoryCode',
                    data: { record: data },
                    cache: false,
                    method: 'POST'
                })
                    .done(function () {
                        unsaved = true;
                        tipnSave()
                    })
                    .fail(function () {
                        alert('Failed to Update.');
                    });
            }

            function tipnSave() {
                if (unsaved) {
                    $('#globalmsg').removeAttr('hidden');
                    $('#savePage').prop('disabled', false);
                }
                
            }

            function hideSave() {
                if (unsaved) {
                    $('#globalmsg').hide();
                    $('#savePage').prop('disabled', true);
                }

            }

            if ($('#position').val() == 1) {
                $('#btnprevious').attr("disabled", "disabled")
            }
            else {
                $('#btnprevious').removeAttr("disabled")
            }

            if ($('#position').val() == @Model.Total) {
                $('#btnnext').attr("disabled", "disabled")
            }
            else {
                $('#btnnext').removeAttr("disabled")
            }

        });

    </script>
}
    <div class="alert alert-warning" id="globalmsg" hidden>
        <strong>Warning!</strong> You have unsaved changes.
    </div>
    <div class="row">     
        <div class="col-lg-6">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="first group">

                    @Html.ActionLink("Previous", "LoadCode", "Record", new { position = (Model.Position - 2) }, new { @class = "btn btn-default", id = "btnprevious" })
                    @Html.ActionLink("Next", "LoadCode", "Record", new { position = Model.Position }, new { @class = "btn btn-default", id = "btnnext" })
                </div>

                <a href="" class="btn btn-success" data-toggle="modal" data-target="#modalContactForm">Message</a>
                <button type="button" class="btn btn-info" disabled="disabled" id="savePage">Save</button>

                @Html.ActionLink("Home", "review", "record", null, new { @class = "btn btn-primary" })

                
            </div>
        </div>
    </div>

    <div class="row top-buffer">
        @Html.HiddenFor(x => x.VisitId, new { id = "codeVisitId" })
        <input type="hidden" id="position" value=@Model.Position>
        <div class="col-lg-4">
            You are viewing @Model.Position of @Model.Total Records. VisitId : @Model.VisitId &nbsp;
            <label class="checkbox-inline">
                <input type="checkbox" checked="@Model.Chart.IsFlaged" data-toggle="toggle" id="chkFlag" />Flaged
            </label>
        </div>

    </div>

<div class="row top-buffer">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Patient Chart</h3></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    @if (!Model.Chart.ChartType.Contains("tif"))
                    {
                        <div class="btn-group" role="group" aria-label="navigation group">
                            <button type="button" class="btn btn-primary" id="btnPrint">Print</button>
                        </div>
                    }

                    <div class="btn-group" role="group" aria-label="fucntion group">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadModal">Replace</button>
                    </div>
                </div>

                @{

                    var base64 = Convert.ToBase64String(Model.Chart != null ? Model.Chart.FileBinary : new byte[64]);

                    @if (Model.Chart.ChartType.Contains("tif") || Model.Chart.ChartType.Contains("pdf"))
                    {
                        var docSrc = string.Format("data:application/pdf;base64,{0}", base64);
                        <div class='embed-responsive' style='padding-bottom:150%'>
                            <object id="pdf"  height='800' type="application/pdf" data="@docSrc"></object>
                        </div>
                     }
                     else
                     {
                        var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                        <div class="viewer text-center" style="height:800px; width:600px;" id="chartviewer">
                            <img src="@imgsrc" alt="" class="img-thumbnail img-fluid" id="chartimage">
                        </div>
                     }
                }

                        </div>
                    </div>
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Code Records</h3></div>
            <div class="panel-body">

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <div class="col-lg-3">
                            <h3 class="box-title">CPTCode Records</h3>
                        </div>

                        <div class="col-lg-9 align-self-end">
                            <div class="row">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="Third group">
                                        <button type="button" class="btn btn-info" id="btnAdd" data-toggle="modal" data-target="#modalcptCode">Add Row</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="CPTCodeTable" class="table table-striped"></table>
                    </div>

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <div class="col-lg-3">
                                <h3 class="box-title">IcdCode Records</h3>
                            </div>

                            <div class="col-lg-9 align-self-end">
                                <div class="row">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group" role="group" aria-label="Third group">
                                            <button type="button" class="btn btn-info" id="btnAdd" data-toggle="modal" data-target="#modalIcdCode">Add Row</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">      
                            <table id="IcdCodeTable" class="table table-striped"></table>
                      </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Message Pysican</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="fromemail">Your name</label>
                        <input type="text" id="fromemail" class="form-control validate" value="@User.Identity.Name">
                    </div>
                </div>

                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="form29">Physician email</label>
                        <input type="email" id="toemail" class="form-control validate" value="@Model.PhysicanEmail">
                    </div>
                </div>
                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="subject">Subject</label>
                        <input type="text" id="subject" class="form-control validate">
                    </div>
                </div>

                <div class="md-form">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="message">Your message</label>
                        <textarea type="text" id="message" class="md-textarea form-control" rows="4"></textarea>
                    </div>
                 </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="send">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalIcdCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Icd Code Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">    
                    <div id="addIcdMsg"></div>
                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="icdCodeName">Code name</label>
                        <input type="text" id="icdCodeName" class="form-control validate" name="icdCodeName">
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="IcdAddCode">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalcptCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add CPT Code Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div id="addcptMsg"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Code Type</label>
                    </div>
                    <select class="custom-select" id="codeType">
                        <option selected>Choose...</option>
                        <option value="CptCode">CPT</option>
                        <option value="EM_CPTCode">EM</option>
                    </select>
                </div>

                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="cptCodeName">Code name</label>
                        <input type="text" id="cptCodeName" class="form-control validate" name="cptCodeName">
                    </div>
                </div>

                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="codeQuantity">Quantity</label>
                        <input type="text" id="codeQuantity" class="form-control validate" name="codeQuantity">
                    </div>
                </div>

                <div class="md-form mb-5">
                    <div class="form-group">
                        <label data-error="wrong" data-success="right" for="form29">Modifier Code</label>
                        <input type="text" id="modifierCode" class="form-control validate" name="modifierCode">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="cptAddCode">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File upload form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div id="fileuploadMsg"></div>
                </div>
                <div class="row"></div>
                <!-- Form -->
                <form method='post' action='' enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Select file : </label>
                        <input type='file' name='file' id='file' class='form-control'><br>
                        <input type='button' class='btn btn-default' value='Upload' id='upload'>
                    </div>
                </form>

                <!-- Preview-->
                <div class="row">                
                        <div id='preview'></div>
                </div>
            </div>

        </div>

    </div>
</div>