@model MedRecordManager.Models.DailyRecord.DetailRecord
@{
    ViewData["Title"] = "Detail Record View";
}

@{ 
    var tabId = "detail" + Model.VisitId;
}

<div class="tab-pane" id="@tabId">

    <div class="row">
        <div class="col-md-12">
            <div id="Results">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Patient # @Model.PaitentInfo.PvNumber</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input asp-for="PaitentInfo.FirstName" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Middle Name</label>
                                    <input asp-for="PaitentInfo.MidName" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.MidName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input asp-for="PaitentInfo.LastName" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">SSN</label>
                                    <input asp-for="PaitentInfo.SSN" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.SSN" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Address Line 1</label>
                                    <input asp-for="PaitentInfo.Address.Address1" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.Address1" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Address Line 2</label>
                                    <input asp-for="PaitentInfo.Address.Address2" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.Address2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input asp-for="PaitentInfo.Address.City" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    <input asp-for="PaitentInfo.Address.State" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Zip</label>
                                    <input asp-for="PaitentInfo.Address.Zip" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.Zip" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Home Phone</label>
                                    <input asp-for="PaitentInfo.HomePhone" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Address.Address1" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Cell Phone</label>
                                    <input asp-for="PaitentInfo.CellPhone" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.CellPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input asp-for="PaitentInfo.Email" class="form-control" />
                                    <span asp-validation-for="PaitentInfo.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group pull-right">
                                    <div style="margin-top: 24px;">
                                        <button class="btn btn-primary" id="btnPatient">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @if (Model.GuarantorInfo != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div id="Results">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Guarantor # @Model.GuarantorInfo.PayerNum</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input asp-for="GuarantorInfo.FirstName" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Middle Name</label>
                                        <input asp-for="GuarantorInfo.MidName" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.MidName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input asp-for="GuarantorInfo.LastName" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.LastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Relationship</label>
                                        <select class="form-control dropdown" asp-for="GuarantorInfo.RelationshipCode" , asp-items="@Model.Relationship" id="ddlRelationship"></select>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Address Line 1</label>
                                        <input asp-for="GuarantorInfo.Address.Address1" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Address.Address1" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Address Line 2</label>
                                        <input asp-for="GuarantorInfo.Address.Address2" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Address.Address2" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">City</label>
                                        <input asp-for="GuarantorInfo.Address.City" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Address.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        <input asp-for="GuarantorInfo.Address.State" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Address.State" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Zip</label>
                                        <input asp-for="GuarantorInfo.Address.Zip" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Address.Zip" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Phone</label>
                                        <input asp-for="GuarantorInfo.Phone" class="form-control" />
                                        <span asp-validation-for="GuarantorInfo.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class=" pull-right">
                                      <button class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    @if (Model.InsuranceInfo != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div id="Results">
                    <div class="box box-comment">
                        <div class="box-header with-border">
                            <h3 class="box-title">Insurance</h3>
                        </div>
                        <div class="box-body">
                            @foreach (var item in Model.InsuranceInfo)
                            {
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Primary Name</label>
                                            <input asp-for="@item.InsuranceName" class="form-control" />
                                            <span asp-validation-for="@item.InsuranceName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Phone Number</label>
                                            <input asp-for="@item.Phone" class="form-control" />
                                            <span asp-validation-for="@item.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Address Line 1</label>
                                            <input asp-for="@item.Address.Address1" class="form-control" />
                                            <span asp-validation-for="@item.Address.Address1" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Addres Line 2</label>
                                            <input asp-for="@item.Address.Address2" class="form-control" />
                                            <span asp-validation-for="@item.Address.Address2" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">City</label>
                                            <input asp-for="@item.Address.City" class="form-control" />
                                            <span asp-validation-for="@item.Address.City" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">State</label>
                                            <input asp-for="@item.Address.State" class="form-control" />
                                            <span asp-validation-for="@item.Address.State" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Zip</label>
                                            <input asp-for="@item.Address.Zip" class="form-control" />
                                            <span asp-validation-for="@item.Address.Zip" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Advanced MD Code</label>
                                            <input asp-for="@item.AmdCode" class="form-control" />
                                            <span asp-validation-for="@item.AmdCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-right">                                         
                                          <button class="btn btn-primary" id="btnPatient">Save</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    @if (Model.ChartInfo != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div id="chart">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Chart</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Discahrged By</label>
                                        <input asp-for="ChartInfo.DiscahrgedBy" class="form-control" disabled />

                                    </div>
                                </div>
                                <div class="col-lg-3 ">
                                    <div class="form-group">
                                        <label class="control-label">Discahrged By</label>
                                        <input asp-for="ChartInfo.DischargedDate" class="form-control" disabled />

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Discahrged By</label>
                                        <input asp-for="ChartInfo.SignoffBy" class="form-control" disabled />

                                    </div>
                                </div>
                                <div class="col-lg-3 ">
                                    <div class="form-group">
                                        <label class="control-label">Discahrged By</label>
                                        <input asp-for="ChartInfo.SignoffBy" class="form-control" disabled />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @if (Model.ChartInfo.ChartDocs.Any())
                                {
                                    @foreach (var doc in Model.ChartInfo.ChartDocs)
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">File Name</label>
                                                <a href=""><span>@doc.FileName</span></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">File Type</label>
                                                <span>@doc.FileType</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">Last Updated By</label>
                                                <span>@doc.LastUpdatedby</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">Last Updated On</label>
                                                <span>@doc.LastUpdatedOn</span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>                          
                            <div class="row">
                                    <div class="col-lg-12">
                                        @Html.HiddenFor(model => model.ChartId)
                                        <div class="pull-right">
                                            <label class="btn btn-primary" for="my-file-selector">
                                                <input id="my-file-selector" type="file" style="display:none"
                                                       onchange="$('#upload-file-info').html(this.files[0].name)">
                                                Upload
                                            </label>
                                            <span class='label label-info' id="upload-file-info"></span>
                                        </div>
                                       
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    @if (Model.PatientDoc.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <div id="doc">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Document</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                @if (Model.PatientDoc.Any())
                                {
                                    @foreach (var doc in Model.PatientDoc)
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">File Name</label>
                                                <a href=""><span>@doc.FileName</span></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">File Type</label>
                                                <span>@doc.Type</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">Last Verified By</label>
                                                <span>@doc.LastVerifiedBy</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="control-label">Last Verified On</label>
                                                <span>@doc.LastVeryfiedOn</span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pull-right">
                                        <label class="btn btn-primary" for="my-file-selector">
                                            <input id="my-file-selector" type="file" style="display:none"
                                                   onchange="$('#upload-file-info').html(this.files[0].name)">
                                            Upload
                                        </label>
                                        <span class='label label-info' id="upload-file-info"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>



