@model IEnumerable<MedRecordManager.Models.PhsycianRecord.PhysicianVm>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pvPysicianId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pvFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pvLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pvPysicianId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pvFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pvLastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
