@model IEnumerable<RuleModel>

@section AddtoHead{
    <link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var regex = /^(.*)(\d)+$/i;
            
            $('.btnDeleteRule').on('click', function () {
                var id = $(this).attr('value');
                var boxDiv = $(this).closest('.box-body');
                if(confirm('You are about to delete a rule, are you sure?')){
                    $.ajax({
                    url:'/Admin/DeleteRule',
                    data : {ruleId : id},
                    method : 'DELETE', 
                    success : function(response){
                        if(response.success){
                            $('#ruleId'+id).remove();
                            if(response.last)
                            {
                              boxDiv.empty().html('<div class="alert alert-info">There is no rule defined yet. You can save a new rule.</div>');
                            }
                        }
                        else{
                            alert('Failed to delete this rule.');
                            }
                        }
                    });
                }
                
            });


            $('.btnEditRule').on('click', function () {
                var id = $(this).attr('value');
                $.ajax({
                url:'/Admin/LoadRule',
                data : {ruleId : id},
                method : 'GET', 
                success : function(response){
                    if(response.success){
                        $('#ruleContent').show();
                        cleanRuleTable();
                        $('#ruleName').val(response.data.ruleName);
                        $('#ruleId').val(response.data.id);
                        if (response.data.definition.length > 0) {
                            if (response.data.definition.length > 1) {           

                                for (var i = 2; i < (response.data.definition.length +1); i++) {
                                    var originalTr = $('#id'+(i-1));                             
                                    var cloneTr = originalTr.clone(true);
                                   cloneRuleTable(cloneTr,i);                                  
                                   originalTr.after(cloneTr);
                                }
                            }

                            for (var i = 0; i < response.data.definition.length; i++) {
                                var ruletr = $('#id' + (i+1));

                                if (response.data.definition[i].logicOperator != null) {
                                    ruletr.find('.ruleLogic').val(response.data.definition[i].logicOperator);
                                    
                                }

                                if (i == response.data.definition.length -1 ){
                                        ruletr.find('.ruleLogic').prop('disabled', true);
                                    }


                                if (response.data.definition[i].openparenthese != null) {
                                    ruletr.find('.parentheseleft').html(response.data.definition[i].openparenthese);
                                }

                                if (response.data.definition[i].closeparenthese != null) {
                                    ruletr.find('.parentheseRight').html(response.data.definition[i].closeparenthese)
                                }

                                if (response.data.definition[i].field !=null) {
                                    
                                   ruletr.find('.ruleField').val(response.data.definition[i].field);
                                    
                                }

                                if (response.data.definition[i].operator!= null) {
                                    
                                   ruletr.find('.ruleOperator').val(response.data.definition[i].operator);
                                    
                                }

                                if (response.data.definition[i].fieldValue != "") {

                                    ruletr.find('.ruleVal').val(response.data.definition[i].fieldValue);
                                }
                            }
                        }
                    }
                    else{
                        alert('Failed to load this rule.');
                        }
                    }
                });    
            });
            
            
            $("button.tr_clone_add").on('click', function () {
                var $tr = $(this).closest('.tr_clone');
                var $clone = $tr.clone(true);
                var cindex = $('#ruleDetail tr').length;           
                cloneRuleTable($clone, cindex);         
                $tr.after($clone);
                $tr.find('.ruleLogic').removeAttr("disabled")
                $('#ruleDetail tr:last').find('.ruleLogic').prop('disabled', true);
            });

            $('button.tr_clone_remove').on('click', function () {
                var clone = $(this).closest('.tr_clone');
                var rowCount = $('#ruleDetail tr').length;
                if (rowCount > 2) {
                    clone.remove();                    
                    $('#ruleDetail tr:last').find('.ruleLogic').prop('selectedIndex', 0);
                    $('#ruleDetail tr:last').find('.ruleLogic').prop('disabled', true);
                }
                else {
                    alert('this is the last row, can not remove it. It will clear the entries. To remove the entire rule please use the rule list removal.')
                    clone.find(':text').val('');
                    clone.find('.dpl').prop('selectedIndex', 0)
                }
                
            });

            $('button.tr_clone_clear').on('click', function () {
                var clone = $(this).closest('.tr_clone');
                clone.find(':text').val('');
                clone.find('.dpl').prop('selectedIndex', 0)
                clone.find(':checkbox').prop('checked', false)
            });

            $('#btnUndo').on('click', function () {
                cleanRuleTable();
            })

            $('#btnAdd').on('click', function () {
                $('#ruleContent').show();
            });

            $('#btnSave').on('click', function () {
                var id = $('#ruleId').val();
                var rulename = $('#ruleName').val();
               
                var ruleData = []; 
              
                
                $('tr.tr_clone').each(function (i, ruletr) {
                    console.log(ruletr);
                    var ruleitem = {
                        logicOperator: '',                
                        operator : '',
                        openparenthese : '',
                        closeparenthese : '',
                        field : '',
                        fieldValue :'',
                    };
                    if (!$(ruletr).find('.ruleLogic').is('[disabled=disabled]')) {
                        if ($(ruletr).find('.ruleLogic').val() != 0) {
                            ruleitem.logicOperator = $(ruletr).find('.ruleLogic').val();
                        }
                       
                    }
                    
                    if($(ruletr).children('.parentheseleft').html() != ""){
                        ruleitem.openparenthese= $(ruletr).find('.parentheseleft').html();
                    }
                    
                    if($(ruletr).children('.parentheseRight').html() != ""){
                        ruleitem.closeparenthese= $(ruletr).find('.parentheseRight').html()
                    }
                    
                    if(!$(ruletr).children('.ruleField').is('[disabled=disabled]')){
                        if($(ruletr).find('.ruleField').val() != 0)
                        {
                            ruleitem.field = $(ruletr).find('.ruleField').val().trim();
                        }
                    }
                    
                    if(!$(ruletr).children('.ruleOperator').is('[disabled=disabled]')){
                        if($(ruletr).find('.ruleOperator').val() != 0)
                        {
                            ruleitem.operator = $(ruletr).find('.ruleOperator').val().trim();
                        }
                    }
                    
                    if ($(ruletr).children('.ruleVal').val() !=""){

                        ruleitem.fieldValue = $(ruletr).find('.ruleVal').val().trim();
                    }

                    ruleData.push(ruleitem);
                });
                                      
                
                $.ajax({
                    url: '/Admin/SaveReviewRule',
                    data: {
                            ruleName : rulename,
                            ruleId : id,
                            ruleSets: ruleData
                        },
                    method: 'POST',
                    success: function (response) {
                        if (response.success) {
                            window.location.replace('@Url.Action("CodeReviewRule", "Admin")');
                        } else {
                            $('#ruleMsg').show();
                        }
                    }

                });
            });

            $('button.parenAdd').on('click', function () {
                var direction = $(this).val();
                if (direction == 'left') {
                    var paren = $(this).closest('tr').children('.parentheseleft')
                    paren.append('(')
                }
                if (direction == 'right') {
                    var paren = $(this).closest('tr').children('.parentheseRight')
                    paren.append(')')
                }

            });

            $('button.parenRemove').on('click', function () {
                var direction = $(this).val();
                var paren;
                if (direction == 'left') {
                    paren = $(this).closest('tr').children('.parentheseleft');

                }
                if (direction == 'right') {
                    paren = $(this).closest('tr').children('.parentheseRight');
                }
                var newVal = paren.html().slice(0, -1);
                paren.empty().append(newVal);
            });
            
            $('.chkRule').on('change', function(){
                var id= $(this).attr('value');
                var active = $(this).is(':checked');
                $.ajax({
                    url:'/Admin/SetRuleActive',
                    data:{ruleId:id, isOn: active},
                    method: 'POST',
                    success : function(response){
                        if(response.success){
                            alert('this rule is active');
                        }
                    }
                });
            });

            $('#ruleName').change(function(){
                $('#ruleMsg').hide();
            }); 

            function cleanRuleTable(){
                $('#ruleDetail').find("tr:gt(1)").remove();
                $('.tr_clone').find(':text').val('');
                $('.tr_clone').find('.parentheseleft').html('');
                $('.tr_clone').find('.parentheseRight').html('');
                $('.tr_clone').find('.dpl').prop('selectedIndex', 0)
                $('.tr_clone').find(':checkbox').prop('checked', false)
            }
            
            function cloneRuleTable(clone, index){
                clone.attr('id', 'id' + (index)); //update row id if required
                clone.find(':text').val('');
                //update ids of elements in row
                clone.find("*").each(function () {
                    var id = this.id || "";
                    var match = id.match(regex) || [];
                    if (match.length == 3) {
                        this.id = match[1] + (index);
                    }
                });
                if (index = 1) {
                    clone.find('.dpl').removeAttr('disabled');
                }
            }
            
        });
    </script>
}
<div class="alert alert-warning" id="globalmsg" hidden>
    <strong>Warning!</strong> You have unsaved Rules.
</div>

<div class="row top-buffer">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Rule List</h3></div>
            <div class="panel-body">
                <div class="box box-danger">
                    <div class="box-header with-border">

                    </div>
                    <div class="box-body">
                        @if (Model!= null && Model.Any())
                        {
                            foreach (var rule in Model)
                            {
                                <div class="form-inline top-buffer" id="ruleId@(rule.Id)">
                                    <button type="button" class="btn btn-default btnDeleteRule" arial-label="left Align" value="@rule.Id">
                                        <span class="glyphicon glyphicon-remove" arial-hidden="true" data-></span>
                                    </button>
                                    <button type="button" class="btn btn-default btnEditRule" arial-label="left Align" value="@(rule.Id)">
                                        <span class="glyphicon glyphicon-pencil" arial-hidden="true"></span>
                                    </button>         
                                        <input type="checkbox" checked="@rule.Enabled" data-toggle="toggle" class="chkRule" value="@rule.Id">                          
                                    <lable>@rule.RuleName</lable>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="alert alert-info">There is no rule defined yet. You can save a new rule.</div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    Rule Detail
                </h3>
            </div>
            <div class="panel-body">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <div class="col-lg-9 align-self-end">
                            <div class="row">
                                <button type="button" class="btn btn-success" id="btnAdd">Add New Rule</button>
                                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                                <button type="button" class="btn btn-info" id="btnUndo">Undo</button>

                            </div>
                        </div>
                    </div>
                    <div id="ruleContent" hidden>
                        <div class="box-body">
                            <div class="alert alert-danger alert-dismissible" role="alert" id='ruleMsg' hidden>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Attention!</strong> 
                            </div>
                            <div class="form-inline">
                                <label data-error="wrong" data-success="right" for="ruleName">Rule Name:</label>
                                <input type="text" id="ruleName" class="form-control validate" required>
                            </div>
                            <input type="hidden" id="ruleId" value="0" />
                        </div>
                        <hr />
                
                        <table class="table table-borderless" id="ruleDetail">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">(</th>
                                    <th scope="col"></th>
                                    <th scope="col">Field</th>
                                    <th scope="col">Operator</th>
                                    <th scope="col">Value</th>
                                    <th scope="col"></th>
                                    <th scope="col">)</th>
                                    <th scope="col">And/Or</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr_clone" id="id1">
                                    <th scope="row">
                                        <button class="btn btn-outline tr_clone_add">
                                            <span class="glyphicon glyphicon-plus text-green" arial-hidden="true" style="padding-top: 15%" data-toggle="tooltip" title="Add row entries"></span>
                                        </button>
                                        <button class="btn btn-outline tr_clone_remove">
                                            <span class="glyphicon glyphicon-remove text-red" arial-hidden="true" style="padding-top: 15%" data-toggle="tooltip" title="Delete row entires"></span>
                                        </button>
                                        <button class="btn btn-outline tr_clone_clear">
                                            <span class="glyphicon glyphicon-repeat text-blue" arial-hidden="true" style="padding-top: 15%" data-toggle="tooltip" title="Clear row entries"></span>
                                        </button>
                                    </th>

                                    <td>
                                        <div class="col">
                                            <div class="btn-toolbar" role="toolbar">
                                                <div class="btn-group-vertical" role="group">
                                                    <button class="btn btn-outline btn-xs parenAdd" value="left">
                                                        <span class="glyphicon glyphicon-plus-sign text-green" arial-hidden="true" data-toggle="tooltip" title="Add parentheses"></span>
                                                    </button>
                                                    <button class="btn btn-outline btn-xs parenRemove" value="left">
                                                        <span class="glyphicon glyphicon-remove-sign text-red" arial-hidden="true" data-toggle="tooltip" title="Delete parentheses "></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="parentheseleft"></td>
                                    <td>
                                        <select class="form-control dpl ruleField">
                                            <option value="0">Select</option>
                                            <option value="VisitProcCode[ProcCode]">A CPT</option>
                                            <option value="EMCode">An EM</option>
                                            <option value="VisitICDCode[ICDCode]">An ICD</option>
                                            <option value="VisitProcCode[Modifier]">A CPT Modifier</option>
                                            <option value="EMModifier">A EM Modifier</option>
                                            <option value="ChartText">Chart Text</option>

                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control dpl ruleOperator">
                                            <option value="0">Select</option>
                                            <option value="EqualTo">Equals</option>
                                            <option value="NotEqualTo">Not Equals</option>
                                            <option value="Contains">Contains</option>
                                            <option value="DoesNotContain">NotContains</option>
                                            <option value="GraterThen">Greater Than</option>
                                            <option value="LessThan">Less Than</option>
                                            <option value="StartsWith">Starts With</option>
                                            <option value="EndsWith">Ends With</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control ruleVal" />
                                    </td>
                                    <td class="parentheseRight"></td>

                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group-vertical" role="group">
                                                <button class="btn btn-outline btn-xs parenAdd" value="right">
                                                    <span class="glyphicon glyphicon-plus-sign text-green" arial-hidden="true" data-toggle="tooltip" title="Add parentheses"></span>
                                                </button>
                                                <button class="btn btn-outline btn-xs parenRemove" value="right">
                                                    <span class="glyphicon glyphicon-remove-sign text-red" arial-hidden="true" data-toggle="tooltip" title="Delete parentheses "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control dpl ruleLogic">
                                            <option value="0">Select</option>
                                            <option value="And">And</option>
                                            <option value="Or">Or</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>