<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("CompanyAdmin") || User.IsInRole("OfficeAdmin") || User.IsInRole("ClinicAdmin"))
        {
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Mange Configuration</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li> <a href="@Url.Action("Physician", "admin")">Physican Setup</a></li>
                        <li><a href="@Url.Action("Clinic", "admin")">Clinic Setup</a></li>
                        <li><a href="@Url.Action("Insurance", "admin")">Insurance Setup</a></li>
                        <li><a href="@Url.Action("CodeReviewRule", "admin")">CodeReview Setup</a></li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Manage Record</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("review","record")">Daily Record</a></li>
                        <li><a href="@Url.Action("callback", "record")">Callback Record</a></li>
                        <li><a href="@Url.Action("loadcode", "record")">Code Record</a></li>
                        <li><a href="@Url.Action("BulkUpdate", "bulkEdit")">Bulk Updates</a></li>
                        <li><a href="@Url.Action("GetProblemRecord", "record")">Problem Record</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Manage Access</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("ManageUser","UserAdmin")">Manage User</a></li>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li><a href="@Url.Action("ManageRole","UserAdmin")">Manage Role</a></li>
                        }
                        <li><a href="@Url.Action("ManageClinic", "UserAdmin")">Manage Clinic</a></li>
                        <li><a href="@Url.Action("ManageOffice", "UserAdmin")">Manage Office</a></li>

                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("CompanyAdmin"))
                        {
                            <li><a href="@Url.Action("ManageCompany", "UserAdmin")">Manage Company</a></li>
                        }
                    </ul>
                </li>
            </ul>
        }

        @* END Menu *@
    </section>
</aside>